@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700&display=swap');

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/*====================================== PreLoder Styles ==============================*/
#preload {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.status {
    background: url(../assets/preloader/preload.gif);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*====================================== Global Styles ==============================*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    ;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
}

section {
    background: #fff;
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.styled-heading h4 {
    color: #4C378E;
    text-transform: uppercase;
    word-spacing: 10px;
    font-size: 1.2rem;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -60px;
    display: inline-block;
}

.styled-heading h2 {
    margin-left: 35px;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 60px;
}

.styled-heading h2 strong {
    font-weight: 700;
}

.normal-heading {
    margin-bottom: 50px;
}

.normal-heading h5 {
    color: #4C378E;
    font-size: 1em;
    margin: 0;
}

.normal-heading h2 {
    font-weight: 300;
    letter-spacing: 1px;
    color: #212226;
    font-size: 3em;
}

.content-box-md {
    padding: 60px 0;
}

#backTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: #4C378E;
    padding: 4px 10px;
    color: #fff;
    font-size: 30px;
    z-index: 1000;
    display: none;
}

a#backTop:hover {
    background: #212226;
}

/*====================================== Navbar Styles ==============================*/
.navbar {
    padding: 30px 0;
}

.navbar-brand {
    display: none;
    z-index: 2;
}

.navbar-brand img {
    padding: 10px 15px;
}

ul .nav-item {
    margin-left: 10px;
}

ul .nav-link {
    font-family: 'Raleway', sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}

ul .nav-link:hover,
a.nav-link.active {
    color: #4C378E !important;
    font-weight: 700;
}

.navbar-wh-bg {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.navbar-wh-bg .nav-link {
    color: #212226 !important;
    letter-spacing: 1px;
}

/*====================================== Home Styles ==============================*/
#home {
    height: 100%;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: -1;
    background: url(../assets/video/bg-th.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    position: relative;
}

.inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.inner-content h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 300;
}

.inner-content h1 span {
    color: #4C378E;
    font-weight: 600;
}

#home-btn {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    transition: all 0.5s ease-in;
    margin-top: 30px;
    margin-bottom: 0;
}

#home-btn:hover,
#home-btn:focus {
    background: #4C378E;
    border: 0;
}

#arrow-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: mymove 1.5s infinite;
}

#arrow-btn i {
    font-size: 1.8em;
    color: #fff;
    transition: all 0.5s;

}

#arrow-btn:hover i {
    color: #4C378E;
}

/* make simple animation of arrow btn*/
@keyframes mymove {
    from {
        bottom: 40px
    }

    to {
        bottom: 10px
    }
}

/*====================================== About Styles ==============================*/
.content-box {
    padding: 120px 0;
}



.right-box p:nth-child(1) {
    margin-bottom: 20px;
}

#bottom-row {
    margin-top: 50px;
}

#bottom-row img {
    margin: 0 auto;
    display: block;
}

#about-bottom {
    background: #f4f4f4;
}

.box-item {
    margin: 10px;
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.box-item:hover {
    background: #4C378E;
    color: #fff;
}

.box-item:hover hr {
    background: #fff;
}

.box-item hr {
    height: 3px;
    width: 50px;
    background: #4C378E;
    border: none;
    margin: 0 auto;
}

.box-item p {
    padding: 20px 0;
    line-height: 2;
}

.box-item i {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
}



/*====================================== Team Styles ==============================*/
#team {
    padding-bottom: 60px;
}

/* Owl Caousel restyle angles*/
.owl-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.owl-nav button {
    background: transparent;
    border: none;
    outline: none;
    /* margin-right: 1px; */
}

.owl-nav button i {
    font-size: 2em;
}

#team .left-item p {
    margin-top: 30px
}

.member-box {
    margin: 8px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.member-box .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(235, 235, 235, 0.8);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    opacity: 0;
}

.hover-overlay:hover {
    opacity: 1;
}

.overlay-content {
    padding: 80px 0;
}

.overlay-content h4 {
    color: #4C378E;
    margin: 0;
    font-size: 1.5em;
}

.overlay-content p {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: #212226;
}

ul.social-media {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-top: 10px;
}

.social-media li {
    padding: 0;
    display: inline-block;
    margin: 5px;
}

.social-media a {
    width: 35px;
    height: 35px;
    border: 1px solid #4C378E;
    border-radius: 50%;
    color: #4C378E;
    display: inline-block;
    line-height: 35px;
    transition: all 0.5s;
}

.social-media li:nth-child(1) a:hover {
    background: #3b5998;
    border: transparent;
    color: #fff;
}

.social-media li:nth-child(2) a:hover {
    background: #3b5998;
    border: transparent;
    color: #fff;
}

.social-media li:nth-child(3) a:hover {
    background: #0e76a8;
    border: transparent;
    color: #fff;
}

#progress-status {
    padding: 40px 0;
}

.skill {
    margin: 30px 0 10px;
}

.skill h4 {
    margin: 0;
    padding: 30px 0;
    font-weight: normal;
}

.progress {
    height: 25px;
    overflow: visible;
}

.progress-bar {
    background-color: #4C378E;
    position: relative;


}

.progress-bar span {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: #212226;
    padding: 3px;
    color: #fff;
    width: 30px;
    height: 100%;
    position: absolute;
    left: 97%;
    top: -45px;
}

.progress-bar span::after {
    content: '';
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: 25px;
    left: 7px;
}

/*====================================== Statemtent Styles ==============================*/
#statement {
    background: url(../assets/tech/tech-statement.jpg) fixed no-repeat center;
    background-size: cover;
}

#statement .content-box {
    background: rgba(0, 0, 0, 0.3);
}

#statement h2 {
    color: #fff;
    line-height: 1.5;
}

#statement p {
    color: #4C378E;
    font-size: 16px;
    font-weight: 600;
}

#statement h2 i {
    padding: 0 3px;
}

/*====================================== Services Styles ==============================*/
#services .content-box {
    padding: 100px 0 40px;
}

/* (((((((((((((((((((( Top Row ))))))))))))))))))*/
.img-wrapper {
    margin-right: 20px;
}

.img-wrapper img {
    margin: 60px 0;
}

.services-content {
    margin: 25px 0;
}

.services-content .icon {
    margin: 0;
    margin-top: 20px;
}

.icon i {
    font-size: 42px;
    transition: all 0.5s linear;

}

.icon:hover i {
    color: #4C378E;
    transform: translateX(-20px);
}

.services-content h6 {
    color: #4C378E;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s linear;
    margin-bottom: 2px;
}

.services-content:hover h6 {
    color: #212226;
}

.services-content h4 {
    font-size: 1.3em;
}

.services-content p {
    font-size: 12px;
}

/* (((((((((((((((((((( Bottom Row ))))))))))))))))))*/
.services-bottom {
    background: #f4f4f4;
}

.services-bottom ul {
    margin-bottom: 30px !important;
}

.services-tabs ul li {
    display: inline-block;
    padding: 5px 30px;
}

.services-tabs li a {
    display: inline-block;
    color: #212226;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
}

ul li.r-tabs-state-active a {
    color: #4C378E !important;
    border-bottom: 3px solid #4C378E;
    font-weight: 700;
    padding-bottom: 5px;
}

.white-bg {
    background: #fff;
    margin: 0 !important;
    padding: 0 !important;
}

.services-bottom img {
    height: 100%;
    margin: 0 auto;
}

.tab-content {
    margin-top: 40px;
}

.tab-content h6 {
    color: #212226;
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 10px;
}

.tab-content h2 {
    margin-bottom: 20px;
}

.darky-btn {
    padding: 10px 25px;
    font-weight: normal;
    font-size: 1em;
    border: none;
    background: #4C378E;
    color: #fff;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s linear;
}

.darky-btn:hover {
    background: #212226;
    color: #fff;
}

/*====================================== Wotk Styles ==============================*/
#work {
    background: #fff;
    padding: 60px 0 150px;
}

#work .styled-heading h4 {
    font-size: 1rem;
}

#isotope-container div {
    padding: 0;
}

.styled-heading {
    margin-bottom: 50px;
}

#isotope-filters {
    margin-bottom: 20px;
}

#isotope-filters button {
    background: transparent;
    box-shadow: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 20px;
}

#isotope-filters button span {
    padding-bottom: 5px;
}

#isotope-filters button.active span {
    border-bottom: 2px solid #4C378E;
    font-weight: 700;
    color: #4C378E;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(235, 235, 235, 0.9);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    cursor: zoom-in;
    opacity: 0;
}

.img-overlay:hover {
    opacity: 1;
}

.inner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-overlay h3 {
    color: #4C378E;
    font-size: 1.5em;
    font-weight: 700;
}

.inner-overlay span {
    display: inline-block;
    width: 50px;
    height: 6px;
    border-top: 2px solid #4C378E;
    border-bottom: 2px solid #4C378E;
}

.inner-overlay p {
    font-size: 1em;
    color: #3b5998;
    font-weight: 600;
    padding-top: 20px;
}

.img-item {
    overflow: hidden;
}

.img-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.img-item img:hover {
    transform: scale(1.2) rotate(10deg);
}

/*====================================== Testimonials Styles ==============================*/
#testimonials {
    padding-top: 50px;
    background-color: #f4f4f4;
    overflow: visible;
}

#testimonials .styled-heading {
    padding: 80px 0 0;
}

#testimonials-slider {
    background-color: #4C378E;
    top: -120px;
}

.owl-nav {
    margin-top: 30px;
}

.testimonial {
    padding: 30px 40px 40px;
    color: #fff;
}

.testimonial>p {
    padding-top: 20px;
    font-size: 13px;
}

.testimonial .author h3 {
    font-size: 1em;
    margin: 0;
    letter-spacing: 1px;
}

.author div:nth-child(2) {
    margin-top: 20px;
}

/*====================================== Pricing Styles ==============================*/
.table-item {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    border-radius: 5px;
    transition: all 0.5s;
}

.table-item:hover {
    background-color: #4C378E;
    color: #fff;
}

.table-item:hover hr {
    background-color: #fff;
}

.table-item:hover h2 {
    color: #fff;
}

.table-item.colored {
    background-color: #212226;
    color: #fff;
}

.table-item.colored:hover {
    background-color: #4C378E;
    color: #fff;
}

.table-item.colored .colored-heading {
    color: #fff;
}

.table-item.colored hr {
    background-color: #fff;
}

.table-heading h2 {
    color: #4C378E;
    font-weight: 600;
    /* padding-bottom: 5px; */
}

.price-info h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 20px;
    font-weight: 100;
    font-size: 2.5em;
    position: relative;
}

.price-info h2 span {
    font-family: 'Raleway', sans-serif;
}

.price-info h2 span.dollar {
    position: absolute;
    top: -3px;
    left: -12px;
    font-size: 18px;
}

.price-info h2 span.month {
    font-size: 18px;
    position: absolute;
    bottom: -18px;
}

.price-info .no-space {
    margin: 0;
    padding: 0;
}

.price-info p {
    font-size: 12px;
}

ul.price-features {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.price-features li {
    padding: 10px 0;
}

.price-features i {
    padding-right: 5px;
}

.table-item a {
    margin: 20px 0;
    width: 90%;
    /* padding: 10px 0; */
    border-radius: 25px;
    background-color: #4C378E;
    color: #fff;
}

.table-item:hover a {
    background-color: #fff;
    color: #4C378E;
}

/*====================================== Counter Stats Styles ==============================*/
#stats {
    background: url(../assets/stats/stats-bg.jpg) fixed no-repeat center;
    background-size: cover;
}

#stats .content-box-md {
    background: rgba(235, 235, 235, 0.8)
}

#stats .counter {
    background: rgba(61, 68, 68, 0.2);
    border-radius: 10px;
    min-height: 170px;
    padding: 25px 50px;
    color: #212226;
    transition: all 0.5s;
}

#stats .counter:hover {
    background: #4C378E;
}

#stats .counter:hover i,
#stats .counter:hover h5,
#stats .counter:hover p {
    color: #fff;
}

#stats .counter:hover i {
    transform: translateY(-20px);
}

.counter i {
    font-size: 40px;
    color: #4C378E;
    padding: 15px 0;
    transition: transform 0.5s linear;
}

.counter h5 {
    font-size: 2em;
    color: #212226;
    font-weight: 700;
    padding-bottom: 10px;
}

.counter p {
    color: #3b5998;
    font-weight: 500;
}

/*====================================== Clients Styles ==============================*/

#clients-wrapper {
    margin: 40px 0;
}

.client {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*====================================== Blog Styles ==============================*/
#blog {
    background: #f4f4f4;
}

#blog .styled-heading {
    padding-top: 60px;
}

#blog .styled-heading a {
    padding: 10px 35px;
    background: #4C378E;
    color: #fff;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 15px;
    transition: 0.5s linear;
}

#blog .styled-heading a:hover {
    background: #212226;
}

.blog-box {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px 15px;
}

.blog-box h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #212226;
    margin-bottom: 15px;
}

.blog-box a {
    color: #4C378E;
    transition: 0.3s;
    font-weight: 700;
}

.blog-box a:hover {
    color: #212226;
}

.blog-box .left-text h6 {
    display: inline-block;
    padding-left: 5px;
}

/*====================================== Contact Styles ==============================*/

.contact-info h4 {
    color: #212226;
    margin-bottom: 15px;
}

.contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info ul.address li {
    padding: 10px;
    display: inline-block;
}

ul.address i {
    margin-right: 10px;
}

ul.address li span {
    display: inline-block;
}

ul.social-contact {
    margin-top: 20px;
}

ul.social-contact li {
    display: inline-block;
    padding: 0;
}

ul.social-contact li a {
    border: 1px solid #212226;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #212226;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.social-contact li a i {
    text-align: center;
}

ul.social-contact li:nth-child(1) a:hover {
    background: #3b5998;
    color: #fff;
    border-color: transparent;
}

ul.social-contact li:nth-child(2) a:hover {
    background: #00aced;
    color: #fff;
    border-color: transparent;
}

ul.social-contact li:nth-child(3) a:hover {
    background: #0e76a8;
    color: #fff;
    border-color: transparent;
}

.form-wrapper {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-wrapper h2 {
    color: #212226;
    margin-bottom: 20px;
    padding-top: 20px;
}

.form-wrapper form {
    margin-top: 20px;
}

.form-wrapper form input {
    width: 45%;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-wrapper form textarea {
    padding: 5px;
    display: block;
    margin: 20px 10px;
    width: 95%;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    resize: none;
    border-radius: 5px;
    overflow: hidden;
}

.form-wrapper form a {
    margin-left: 10px;
}

/*====================================== Map Styles ==============================*/

#map {
    height: 400px;
    width: 100%;
}

#footer {
    text-align: center;
    color: #fff;
    background: #212226;
}

#footer p {
    padding: 20px 0;
    letter-spacing: 1px;
}